.account-page {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #039595;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button.logout-button {
    background-color: red;
}